<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
		<meta http-equiv='X-UA-Compatible' content='ie=edge'>
		<title>Document</title>
	</head>
	<body>
			<h4 class='getData'>点击获取数据</h4>
		
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script>
			var token = sessionStorage.getItem('token')
			$('.getData').click(()=>{
				$.ajax({
					url:'http://localhost:4747/api/selectAll',
					data:{
						token:token
					},
					success:(res)=>{
					
					}
				})
			})
		</script>
	</body>
</html>